@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap");
@import "tailwindcss";

:root {
	color-scheme: light dark;
	color: var(--brand-light);
	background-color: --var(--brand-darkest);
}

@theme {
	--font-new-rocker: "New Rocker", cursive;
	--font-texturina: "Texturina", serif;

	--brand-primary: #52796f;
	--brand-secondary: #84a98c;
	--brand-darkest: #1b262c;
	--brand-darker: #2f3e46;
	--brand-dark: #354f52;
	--brand-light: #cad2c5;

	--alt-bone: #ffe8d6;
	--alt-reed: #d4c7b0;
	--alt-earth: #78513c;
	--alt-tan: #cb997e;
	--alt-leaves: #a5a58d;
	--alt-moss: #6b705c;
	--alt-deep: #3f4238;
}

@layer components {
	.btn-primary {
		font-family: var(--font-texturina);
		text-shadow: 1px 2px 2px var(--brand-darkest);
		font-weight: var(--font-weight-semibold);
		border-radius: 8px;
		background-color: var(--brand-primary);
		padding-inline: --spacing(5);
		padding-block: --spacing(2);

		color: var(--alt-bone);
		box-shadow: 1px 3px 6px var(--brand-darkest);
		&:hover {
			@media (hover: hover) {
				background-color: var(--brand-darkest);
			}
		}
	}
	.btn-secondary {
		font-family: var(--font-texturina);
		font-weight: var(--font-weight-semibold);
		text-shadow: 1px 2px 2px var(--brand-darkest);
		border-radius: 8px;
		background-color: var(--brand-dark);
		border: 1px solid var(--alt-leaves);
		padding-inline: --spacing(5);
		padding-block: --spacing(2);

		color: var(--alt-leaves);
		box-shadow: 1px 3px 6px var(--brand-darkest);
		&:hover {
			@media (hover: hover) {
				background-color: var(--brand-darkest);
			}
		}
	}
}
#wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh; /* min-h-screen */
	width: 100vw;
	background-color: var(--alt-leaves);
}
#wrapper2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh; /* min-h-screen */
	width: 100vw;
	background-color: var(--brand-dark);
}

main {
	height: 440px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--brand-dark);
	/* rounded-3xl = 24px */
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -4px rgba(0, 0, 0, 0.1); /* shadow-lg */
	padding: 2rem; /* p-8 = 32px */
}
#main2 {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--brand-darkest);
	/* rounded-3xl = 24px */
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -4px rgba(0, 0, 0, 0.1); /* shadow-lg */
	padding: 2rem; /* p-8 = 32px */
}

.input-field {
	font-family: var(--font-texturina);
	border-width: 2px;
	border-style: solid;
	border-color: var(--alt-leaves);
	padding: 0.25rem;
	width: 100%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-radius: 0.375rem;
}

button:focus,
button:focus-visible {
	outline-color: var(--alt-bone) 4px auto -webkit-focus-ring-color;
}
